# --------------------------------------
# Flutter / Dart
# --------------------------------------
.dart_tool/
.packages
.pub-cache/
.pub/

# Flutter build outputs
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Flutter metadata
.metadata

# --------------------------------------
# Android
# --------------------------------------
**/build/
.android/
.gradle/
local.properties
GeneratedPluginRegistrant.java

# --------------------------------------
# iOS
# --------------------------------------
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*

# Xcode user-specific files
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace

# --------------------------------------
# IDE / Editors
# --------------------------------------
# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# --------------------------------------
# OS / Misc
# --------------------------------------
.DS_Store
Thumbs.db
